/* Estilos do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  align-items: center;
  height: 120px;
}

header h1 {
  margin: 0;
  color: red;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

header nav {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header nav li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav img {
  width: 20%;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo-container img {
  width: 40px;
  margin-right: 10px;
}

/* Estilos do layout de grade */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.grid-container section {
  background-color: #eee;
  padding: 10px;
  font-size: 30px;
}

header .logo-container img {
  height: 50px;
}
