<!DOCTYPE html>
<html>
  <head>
    <title>Melhores Filmes de 2021</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/bestmovies2021.css">
    <link rel="shortcut icon" type="image/ x-icon" href="/assets/favicon.ico">
  </head>
  <body>
    
    <div class="grid-container">
      
      <div class="grid-item">
        <p class="title"></p>
      </div>

      <div class="grid-item">
        <p class="overview"></p>
      </div>

      <div class="grid-item">
        <p class="popularity"></p>
      </div>

      <div class="grid-item">
        <p class="release-date"></p>
      </div>
    
    </div>

    <script type="text/javascript" src="/scripts/bestmovies2021.js"></script>
  </body>
</html>
