<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="/script/loginscript.js"></script>
    <title>LOGIN</title>
    <link rel="stylesheet" href="/styles/loginstyle.css">
  </head>
  <body>
      <header>
            <h1 class="header-flix">My Personal Flix</h1>
      </header>
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <label for="username"><strong>Nome de usuário</strong></label>
        <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário">

        <label for="password"><strong>Senha</strong></label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha">

        <button type="submit">Entrar</button>
      </form>
    </div>
  </body>
</html>
