  {% extends "index.html" %}
  {% block content %} 

  {% include "headerpickcategorie.html" %}
<link rel="stylesheet" href="/styles/pickCategorie.css" />
<script src="\scripts\pickCategorie.js"></script>
  <header>
    <h1>My Personal Flix</h1>
    <div class="logo-container">
      <!-- ="./../../assets/github.png -->
      <a href="https://github.com/danilobsilv" target="_blank">
        <img src="../assets/github.png" alt="GitHub" style="border-radius: 50%;">
      </a>
      
      <a href="https://www.instagram.com/danilobrunos_" target="_blank">
        <img src="./../../assets/instagramlogo.png" alt="Instagram" style="border-radius: 50%;">
      </a>

      <a href="https://www.linkedin.com/in/danilo-bruno-da-silva-30b917225/" target="_blank">
        <img src="./../../assets/linkedin.png" alt="LinkedIn" style="border-radius: 50%;">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="#"><Strong>About me</Strong></a></li>
        <li><a href="#"><strong>My Top Movies</strong></a></li>
      </ul>
    </nav>
  </header>

  <div class="grid-container">
    <section id="link-session1">
      <h2 onclick="">1º Session</h2>
      <p>Highest rated movies of<strong> ALL TIME</strong></p>
      <a href="/session1"></a>
    </section>
    <section>
    <h2>2º Session</h2>
    <p>Worst rated movies <strong>EVER</strong></p>
    </section>

    <section>
      <h2>3º Session</h2>
      <p>Highest rated movies of <strong>2021</strong></p>
    </section>
    <section>
      <h2>4º Session</h2>
     
{% endblock %}