  {% extends "index.html" %}
  {% block content %} 

  <!-- {% include "headerpickcategorie.html" %} -->
<link rel="stylesheet" href="/styles/pickCategorie.css" />
<script src="/scripts/pickCategorie.js"></script>
<script   src="/scripts/redirectToLowMovies.js"></script>
  <header>
    <h1>My Personal Flix</h1>
    <div class="logo-container">
      <a href="https://github.com/danilobsilv" target="_blank">
        <img src="/assets/github.png" alt="GitHub" style="border-radius: 50%;">
      </a>
      
      <a href="https://www.instagram.com/danilobrunos_" target="_blank">
        <img src="/assets/instagramlogo.png" alt="Instagram" style="border-radius: 50%;">
      </a>

      <a href="https://www.linkedin.com/in/danilo-bruno-da-silva-30b917225/" target="_blank">
        <img src="/assets/linkedin.png" alt="LinkedIn" style="border-radius: 50%;">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="#"><Strong>Sobre mim</Strong></a></li>
        <li><a href="#"><strong>Meus filmes preferidos</strong></a></li>
      </ul>
    </nav>
  </header>

  <div class="grid-container">
    
    <section onclick="redirectToPickMovie()" id="link-session1">
      <h2 >1º Sessão</h2>
      <p>Filmes com as classificações mais<strong> ALTAS</strong></p>
      <a href="/session1"></a>
    </section>

    <section onclick="redirectToLowMovies()" id="link-session2">
    <h2>2º Sessão</h2>
    <p>Filmes com as classificações mais<strong> BAIXAS</strong></p>
    <a href="/session2"></a>
    </section>

    <section>
      <h2>3º Session</h2>
      <p>Filmes com as melhores classificações de<strong> 2021</strong></p>
    </section>

    <section>
      <h2>4º Session</h2>
      <p>Filmes com as melhores classificações de<strong> 2022</strong></p>
    </section>
     
{% endblock %}