.grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
      font-family: Arial, sans-serif;
    }
    
    .grid-item {
      background-color: #f7f7f7;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
    }
    
    h3 {
      margin-top: 0;
    }
    
    @media screen and (max-width: 768px) {
      .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }
    }
    
    .grid-item p {
      font-size: 16px;
      line-height: 1.4;
      margin: 10px 0;
    }
    